<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
  </head>
  <body>
    <!-- Form to create a new post, using the POST method -->
    <form method="post" action="/posts">
      <!-- Input field for the username -->
      <input type="text" placeholder="enter username" name="username" />
      <br />
      <br />
      <!-- Textarea for the post content -->
      <textarea name="content" placeholder="enter post content"></textarea>
      <br />
      <!-- Submit button for the form -->
      <button>Submit</button>
    </form>
  </body>
</html>
