#container {
  width: 600px;
  height: 300px;
  background-color: yellow;
  display: grid;
  /* grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: 200px 200px 200px; */
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-rows: 1fr 1fr 1fr 1fr; /*Same as upper line*/
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */ /* Same as upper line */
  /* row-gap: 10px;
  column-gap: 30px; */
  /* grid-gap: 10px 30px; */ /* Same as row-gap: 10px; and column-gap: 30px; */
  grid-gap: 10px; /* Same as row-gap: 20px; and column-gap: 20px; */
}

.item {
  /* width: 100px;
  height: 50px; */
  background-color: yellowgreen;
  border: 2px solid black;
  text-align: center;
}
