<!-- Declaring the document type as HTML -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Setting the character encoding to UTF-8 for supporting various characters -->
    <meta charset="UTF-8" />

    <!-- Ensuring proper rendering and responsiveness on different screen sizes -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Setting the title of the webpage -->
    <title>Instagram</title>

    <!-- Linking an external CSS stylesheet for styling the page -->
    <link rel="stylesheet" href="/style.css" />
  </head>
</html>
